


body{
    margin: 0;
    font-size: 16px;
    background-color:lightpink;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.custom-box{
    max-width: 700px;
    background-color: lightskyblue;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;

}
